:root {
  --red: #d41413;
}
:root {
  --important: var(--red);
  --cta: #b10dc9;
  --emphasis: #2997fe;
  --info: #7fdbff;
  --background: #f2eee5;
  --background-stronger: #323230;
  --background-extreme: #f7f5ed;
  --foreground-for-stronger-background: var(--background-extreme);
  --foreground-contrast: #b7b7b7;
  --foreground: #181410;
}

:root.dark {
  --important: var(--red);
  --cta: #50f148;
  --emphasis: #d97706;
  --info: #fcd34d;
  --background: #222;
  --background-stronger: #121212;
  --background-extreme: #1d1d1b;
  --foreground-for-stronger-background: #f8f8f880;
  --foreground-contrast: #484848;
  --foreground: #f8f8f8;
}

html {
  background: var(--background);
  color: var(--foreground);
}
